body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.container {
    text-align: center;
}

#question-container {
    margin-bottom: 20px;
}

#options {
    margin-top: 10px;
    text-align: left;
}

#options input[type="radio"] {
    margin-right: 5px;
}

#submit-btn {
    margin-top: 10px;
    padding: 5px 10px;
}

#result {
    font-weight: bold;
}
/* Caixa */

#caixaDialogo {
    display: none;
    position: auto;
    bottom: 30px;
    right: 30px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    animation: aparecer 1.0s ease;
  }
  
  @keyframes aparecer {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  .fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .fechar:hover,
  .fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
